@import 'variables';

:root
{
  --transition-fast: .1s;
  --transition-normal: .25s;
  --transition-slow: .5s;

  --transition-ease-in-out: ease-in-out;
  --transition-ease-out: ease-out;
  --transition-ease-in: ease-in;
}

body
{
  background-color: #000;
}
